body {
  font-family: "Roboto", sans-serif; }

.box {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #000000; }

h1 {
  font-family: "Libre Bodoni", serif;
  font-size: 60px;
  color: white; }

h1, h2, h3 {
  font-family: "Libre Bodoni", serif; }

h2 {
  color: #3f3f3f; }

h5 {
  color: white; }

header h2 {
  color: #990000; }

.site-footer {
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #000000, #000000, #575757);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar-dark {
  background-color: #000000; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #575757; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#seminarModal .modal-header {
  color: white;
  background-color: #990000; }

#lessonModal .modal-header {
  color: white;
  background-color: #990000; }

#loginModal .modal-header {
  color: white;
  background-color: #990000; }

.link-images img {
  vertical-align: bottom;
  margin-top: auto; }
